[SddmGreeterTheme]
Name=Saga Cyberpunk
Description=Cyberpunk Saga login theme scaffold
Author=Saga
Copyright=(c) Saga
License=MIT
Type=sddm-theme
Version=0.1.0
Website=https://github.com/saga/saga
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=saga-cyberpunk
Theme-API=2.0
